<form method="get" >
    <h1>Enter x, y</h1>
    <input type="text" name="X" placeholder="Enter x"/>
    <input type="text" name="Y" placeholder="Enter y" />
    <button asp-controller="Calculation" asp-action="Sum">Sum 2 numbers</button>
    <h2>Result: </h2>
</form>