services:
  mysql:
    image: mysql:9.6.0
    container_name: mysql-local
    restart: always
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: Abc123456
      MYSQL_DATABASE: j2506l      
      TZ: Asia/Ho_Chi_Minh
    volumes:
      - mysql_data:/var/lib/mysql
    command:
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin-local
    restart: always
    depends_on:
      - mysql
    ports:
      - "8083:80"
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: Abc123456
      PMA_ARBITRARY: 0
      TZ: Asia/Ho_Chi_Minh
volumes:
  mysql_data:
