
@{
    ViewBag.Title = "ListOfUsers";
}

<h2>ListOfUsers</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Users</th>
            <th>Diploma</th>
            <th>Diploma Type</th>
            <th>Rank</th>
            <th>Training Program</th>
            <th>Training Type</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>John Doe</td>
            <td>Bachelor of Science</td>
            <td>STEM</td>
            <td>1st</td>
            <td>Project Management</td>
            <td>Online</td>
        </tr>
        <tr>
            <td>Jane Doe</td>
            <td>Master of Business Administration</td>
            <td>Business</td>
            <td>2nd</td>
            <td>Leadership</td>
            <td>In-person</td>
        </tr>
        <tr>
            <td>Bob Smith</td>
            <td>Associate of Arts</td>
            <td>Arts</td>
            <td>3rd</td>
            <td>Public Speaking</td>
            <td>Online</td>
        </tr>
    </tbody>
</table>

