<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Register new user</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <form method="post" th:action="@{/users/register}" th:object="${request}">
    <input type="text" th:field="*{username}" placeholder="Enter username">
    <br>
    <input type="email" th:field="*{email}" placeholder="Enter email">
    <br>
    <input type="text" th:field="*{password}" placeholder="Enter password">
    <br>
    <input type="text" th:field="*{retypePassword}" placeholder="Enter retypePassword">
    <br>
    <input type="submit" value="Register user">
  </form>
</body>
</html>