.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btnEdit {
    height: 40px;
    background-color: aquamarine;
    padding: 5px 10px 5px 10px;
    border: 1px solid black;
    
}
.btnDelete {
    height: 40px;
    background-color: red;
    padding: 5px 10px 5px 10px;
    border: 1px solid black;
    color: white;
}