@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main class="container py-5">
        <h1 class="text-center mb-5">Perfume Catalog</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <!-- Product Card 1 -->
            <div class="col">
                <div class="card h-100">
                    <img src="https://dummyimage.com/600x400/000/fff" class="card-img-top" alt="Perfume 1">
                    <div class="card-body">
                        <h5 class="card-title">Perfume 1</h5>
                        <p class="card-text">This is a description of Perfume 1. Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.</p>
                        <h6 class="card-subtitle mb-2 text-muted">$50</h6>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <!-- Product Card 2 -->
            <div class="col">
                <div class="card h-100">
                    <img src="https://dummyimage.com/600x400/000/fff" class="card-img-top" alt="Perfume 2">
                    <div class="card-body">
                        <h5 class="card-title">Perfume 2</h5>
                    <p class="card-text">
                        This is a description of Perfume 2. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit.
                    </p>
                    <h6 class="card-subtitle mb-2 text-muted">$80</h6>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <!-- Product Card 3 -->
        <div class="col">
            <div class="card h-100">
                <img src="https://dummyimage.com/600x400/000/fff" class="card-img-top" alt="Perfume 3">
                <div class="card-body">
                    <h5 class="card-title">Perfume 3</h5>
                    <p class="card-text">
                        This is a description of Perfume 3. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit.
                    </p>
                    <h6 class="card-subtitle mb-2 text-muted">$120</h6>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://dummyimage.com/600x400/000/fff" class="card-img-top" alt="Perfume 3">
                <div class="card-body">
                    <h5 class="card-title">Perfume 3</h5>
                    <p class="card-text">
                        This is a description of Perfume 3. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit.
                    </p>
                    <h6 class="card-subtitle mb-2 text-muted">$120</h6>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://dummyimage.com/600x400/000/fff" class="card-img-top" alt="Perfume 3">
                <div class="card-body">
                    <h5 class="card-title">Perfume 3</h5>
                    <p class="card-text">
                        This is a description of Perfume 3. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit.
                    </p>
                    <h6 class="card-subtitle mb-2 text-muted">$120</h6>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://dummyimage.com/600x400/000/fff" class="card-img-top" alt="Perfume 3">
                <div class="card-body">
                    <h5 class="card-title">Perfume 3</h5>
                    <p class="card-text">
                        This is a description of Perfume 3. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit.
                    </p>
                    <h6 class="card-subtitle mb-2 text-muted">$120</h6>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

    </div>
</main>
