
@{
    ViewBag.Title = "About";    
}

<h2>About of Product Controller</h2>
<h2>@ViewBag.product.Name</h2>
<h2>Id: @ViewBag.product.Id</h2>
<h2>Description: @ViewBag.product.Description</h2>
<h2>@ViewBag.y</h2>

