<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category List</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
          rel="stylesheet">
</head>
<body>
<h1>Category List</h1>
<div class="container mx-auto px-4">
<table class="min-w-full">
    <thead>
    <tr>
        <th class="py-2 px-4">Category ID</th>
        <th class="py-2 px-4">Category Name</th>
        <th class="py-2 px-4">Description</th>
        <th class="py-2 px-4">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categories}">
        <td class="py-2 px-4" th:text="${category.categoryId}"></td>
        <td class="py-2 px-4" th:text="${category.categoryName}"></td>
        <td class="py-2 px-4" th:text="${category.description}"></td>
        <td class="py-2 px-4">
            <a class="text-blue-500 hover:text-blue-700" th:href="@{/products}">Show products</a>
        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>