table .table2{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table .table2 td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table .table2 tr:nth-child(even) {
    background-color: #dddddd;
}