body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}
.main-body {
    width: 800px;
    border: 6px black double;
    background-color: white;
}

table {
    border-spacing: 0 10px;
}
#tableB td {
    border: 1px solid;
}
#tableB {
    border-collapse: collapse;
}
.each-td {
    border: 1px solid;
}