<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Login</title>
</head>
<body>
<h1>Login</h1>
<form th:action="@{/users/login}" method="post">
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

<p th:if="${error}" th:text="${error}"></p>
</body>
</html>
